
/* SVG Chart Support */
rect.graph--bar {
    stroke-width: 0;
    transition: opacity 0.2s;
}

rect.graph--bar:hover {
    opacity: 0.8;
    cursor: crosshair;
}

rect.zone-one {
    fill: var(--zone-gray);
}
rect.zone-two {
    fill: var(--zone-blue);
}
rect.zone-three {
    fill: var(--zone-teal);
}
rect.zone-four {
    fill: var(--zone-green);
}
rect.zone-five {
    fill: var(--zone-yellow);
}
rect.zone-six {
    fill: var(--zone-orange);
}
rect.zone-seven {
    fill: var(--zone-red);
}

.graph--svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

text.graph--y-label {
    font-size: 10px;
    fill: var(--gray);
    alignment-baseline: middle;
    text-anchor: end;
}
text.graph--x-label {
    font-size: 10px;
    fill: var(--gray);
    text-anchor: middle;
}
line.graph--grid-line {
    stroke: var(--white-opacity-01);
    stroke-width: 1;
}

.graph--ftp-line {
    stroke: var(--white);
    stroke-width: 1;
    stroke-dasharray: 4;
}

text.graph--ftp-label {
    font-size: 10px;
    fill: var(--white);
    text-anchor: start;
}

/* Tooltip */
.graph--info-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
    display: none;
    border: 1px solid var(--border-color);
}
